AI Travel Itinerary Planner with Email Delivery.json
{
  "name": "AI Travel Itinerary Planner with Email Delivery",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "3824980d-0428-47a7-98a4-d6a2a7e31108",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        416
      ],
      "webhookId": "e0864b9c-e1e7-40f9-940f-845f2ee5561b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an expert travel planner assistant. Speak naturally with the user to discover their destination, budget, duration, and preferences. Once you have enough information, use your tools (like SerpAPI and Calculator) to generate a detailed day-by-day itinerary.\n\nCRITICAL INSTRUCTION: You MUST format the final itinerary exclusively as a Markdown table with exactly these three columns: | Day | Plan | Cost |"
        }
      },
      "id": "ea239fdf-75b3-4932-b5f6-ea5d1e90d70f",
      "name": "Travel Itinerary Planner",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        88,
        416
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "1301e12f-b2b0-43d1-88ab-cc536ad0ea49",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "t9rHPk9skv8YK4wV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').item.json.sessionId }}"
      },
      "id": "593801f0-e907-4343-8966-db1dc0cb746d",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        640
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee205dac-978f-47dd-835a-7e15709b2bf3",
      "name": "Search Travel Info",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        224,
        640
      ],
      "credentials": {
        "serpApi": {
          "id": "R9rmO1AXlJE7Anzw",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "id": "4af2f1b5-fb7d-410b-9046-d95b193bf02f",
      "name": "Calculate Costs",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        352,
        640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Travel Itinerary Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Travel Itinerary Planner",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Travel Itinerary Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Travel Info": {
      "ai_tool": [
        [
          {
            "node": "Travel Itinerary Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Costs": {
      "ai_tool": [
        [
          {
            "node": "Travel Itinerary Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Travel Itinerary Planner": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ec5a6a77-84aa-47b1-b600-8b736133897b",
  "meta": {
    "instanceId": "78a5d2f85152f80b64f357cd9fb846c70a3fdbaa861017d674bb52d51164e097"
  },
  "id": "9F0N9ENjGobjaJaE",
  "tags": []
}